@import 'partials/setup';
@import 'partials/variables';
@import 'partials/header';
@import 'partials/techTopics';
@import 'partials/form';
@import 'partials/footer';
@import 'partials/footer';


//general styles

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0 auto;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto
}


//media queries

@media (max-width: 820px) {

	nav ul li {
		padding-left: 0px;
		padding-right: 0px;
	}

	.buttonContainer {
		display: none;
	}

	div.data {
		max-width: 100%;
	}

	div.topicButtons {
		max-width: 80%;
    	margin: 0 auto;
    	text-decoration: none;
    	label {
    		text-decoration: none;
    	}
	}
}

@media (max-width: 480px) {
	.mainNav {
		display: none;
	}
}
